.admin-bar
  height 20px
  position relative
  .hidden-link
    width 20px
    height 20px
    display block
    background #111
  > *
    position absolute
  .errors-link
    left 0
  ul.errors
    color: black
    top 20px
    left 0
    width 100%
    min-height 300px
    z-index 1000
    background white
    li
      margin-top 10px
  .login
    right 0
  .logged-in
    right 0
    color white
    *
      margin-left 20px