.details
  border 1px solid $light-green
  padding 30px 54px 50px 54px
  margin-bottom $margin
  .top-image
    float left
    width 500px
    margin-bottom 45px
  .right-image
    float right
    width 335px
    margin-left 15px
    margin-bottom 30px
  .text
    white-space pre-wrap
    color white
    font-size 14px
    margin 0 55px