.event
  width 640px
  float left
  height 300px
  > *
    float left
  .content-block
    height 100%
    background white
    width 415px
    position relative
    .article-icon
      absolute top 40px
      width 40px
      height 40px
      background $light-green url('../images/article.png') center
    .content
      padding 31px 100px 40px 70px
      h1
        font-weight normal
        margin 0 0 10px 0
        font-size 24px
      .text
        font-size 14px
        color #484848
  img
    width 195px
    height 275px
    padding 12px 15px 13px 15px
    background $light-gray