footer
  height 225px
  color white
  font-size 14px
  line-height 16px
  a
    display block
  > *
    height 100%
    float left
    > *
      padding-left 35px
      margin-bottom 15px
  .copyright
    background $gray
    width 300px
    padding 70px 55px 10px 20px
    .a2
      background url('../images/a2.png') left 4px
  .contact-info
    padding 25px 30px 10px 20px
    background $dark-gray
    width 395px
    .social
      a
        float left
        margin-right 25px
        circle(30px)
        background white 10px 6px
        &:hover
          background-color $blue
      .facebook
        background-image url('../images/facebook-gray.png')
        &:hover
          background-image url('../images/facebook-white.png')
      .vk
        background-image url('../images/vk-gray.png')
        &:hover
          background-image url('../images/vk-white.png')
    .phone
      background url('../images/phone.png') left center
    .email
      background url('../images/email.png') left center
    .contact
      background url('../images/contact.png') left center
  .qr-code
    width 225px
    background $light-green url('../images/qr-code.png') center