@require 'nib'
@require 'variables'
@require 'mixins'
@require 'carousel'
@require 'main'
@require 'admin-bar'
@require 'header'
@require 'slider'
@require 'videos-block'
@require 'schedule'
@require 'last-news'
@require 'footer'