.info-block
  .latest-news
    font-size 14px
    width 300px
    height 620px
    background $light-green
    color white
    position relative
    .news-icon
      absolute top 40px
      width 40px
      height 40px
      background white url('../images/news.png') center
    header, ol li
      border-bottom 1px solid #bbce5f
    header
      font-size 24px
      height 105px
      padding 40px 0 0 65px
    ol li, .all-news
      padding 0 30px 0 40px
    ol li
      padding-top 20px
      height 140px
      .date, a
        color $gray
      a:hover
        color white
    .all-news
      display block;
      background url("../images/arrow-white.png") right center;
      height 95px
      line-height 95px
      width 270px
      &:hover
        color $gray
  .news
    width 640px
    height 300px
    .content
      width 415px
  .events
    width 640px
    height 300px