body
  width 960px
  background black
  margin 0 auto
  font-family "Open Sans", "Arial", "Helvetica", sans-serif
  overflow-y scroll;

sup
  line-height 0
  vertical-align super
  font-size 10px
  
*
  box-sizing border-box
  background-repeat no-repeat !important
a
  color white
  display block
  &:hover
    color $light-green

.margin-bottom
  margin-bottom $margin

.margin-right
  margin-right $margin

.active
  pointer-events none
  cursor default
  *
    pointer-events auto

.clearfix
  clearfix()

.background-white
  background white

ul, ol
  padding 0
  margin 0
  list-style none

input
  &[type='text']
    width 200px

.error
  color #ff7f50