@import 'nib'

body
  font-family "Open Sans", "Arial", "Helvetica", sans-serif
  overflow-y: scroll;

.active
  pointer-events none
  cursor default
  *
    pointer-events auto

.clearfix
  clearfix()

.background-white
  background #fff

ul, ol
  padding 0
  margin 0

input
  box-sizing border-box

article
  margin-top 20px

body
  width 960px
  background black
  margin 0 auto

.admin-bar
  height 20px
  position relative
  >*
    position absolute
    right: 0
  .login
    width 20px
    height 100%
    display block
    background #222
  .logged-in
    color #fff
    *
      margin-left 20px

header
  height 60px
  background #fff
  *
    height 60px
    line-height 60px
  .menu-icon
    background #a9c421 url('../images/menu.png') no-repeat center
    width 60px
    float left
  nav
    float left
    ul
      li
        display inline-block
        list-style none
        padding-left 30px
        a
          text-decoration none
          color #475055
          font-size 16px
          &.active, &:hover
            color #a9c421
  .search-form
    float right
    input
      background url('../images/search.png') no-repeat right center

footer
  height 225px
  margin 20px 0
  & > *
    height 100%
  .contact-info
    box-sizing border-box
    -moz-box-sizing border-box
    background #414141
    width 715px
    float left
    padding-left 15px
    padding-top 40px
    font-size 14px
    & > *
      color #fff
      padding-left 45px
      margin-top 20px
      background-repeat no-repeat
      background-position left center
    .phone
      background-image url('../images/phone.png')
    .email
      background-image url('../images/email.png')
  .facebook
    background-image url('../images/facebook.png')
  .vk
    background-image url('../images/vk.png')
  .qr-code
    margin-left 20px
    width 225px
    float left
    background #a7c31b url('../images/qr-code.png') no-repeat center