body
  width 960px
  background black
  margin 0 auto
  font-family "Open Sans", "Arial", "Helvetica", sans-serif
  overflow-y scroll;

sup
  line-height 0
  vertical-align super
  font-size 10px
  
*
  box-sizing border-box
  background-repeat no-repeat !important

.admin
  margin-top $margin
  margin-bottom $margin
  border 1px solid cyan
  color white
  textarea
    width 100%
    height 100px

a
  color white
  &:hover
    color $light-green

.margin-bottom
  margin-bottom $margin

.margin-right
  margin-right $margin

.active
  pointer-events none
  cursor default
  *
    pointer-events auto

.left
  float left

.right
  float right

.clearfix
  clearfix()

ul, ol
  padding 0
  margin 0

.list-style-none
  list-style none
input
  &[type='text']
    width 200px

.error
  color #ff7f50