.news
  font-size 14px
  background white
  position relative
  .article-icon
    absolute top 40px
    width 40px
    height 40px
    background $light-green url('../images/date.png') center
  .content
    padding 22px 30px 40px 60px
    width 735px
    .date
      color $light-green
    header
      font-size 24px
    .text
      margin-top 20px
      color #484848
      margin-bottom 10px
    a
      color $light-green
      width 105px
      display block
      background url("../images/arrow-green.png") right center
      &:hover
        color $gray
  img
    width 225px
    padding 12px 15px 13px 15px

.news-list
  list-style none