.slider
  .carousel
    border 1px solid $light-green
    height 540px

    > .carousel-indicators
      top 505px
      > li
        width 12px
        height 12px
        margin-left 8px
        border 1px solid $light-green
        cursor pointer
        &.active, &:hover, &:focus
          background-color $light-green

    > .carousel-inner
      > .item
        background url("../images/logo-big.jpg") 50px 30px
        p
          color white
          font-size 14px
          line-height  20px
          absolute left 110px top 260px
          width 465px
          overflow hidden
        a
          absolute left 110px top 420px
          text-decoration none
          width 170px
          height 50px
          border 1px solid $light-green
          border-radius 2px
          color $light-green
          font-size 16px
          text-align center
          line-height 50px
          &:hover
            background $light-green
            color white
        img
          absolute right bottom top
          margin auto