.slider
  .carousel
    border 1px solid $light-green
    height 540px

    > .carousel-indicators
      top 505px
      > li
        width 12px
        height 12px
        margin-left 8px
        border 1px solid $light-green
        cursor pointer
        &.active, &:hover, &:focus
          background-color $light-green

    > .carousel-inner
      .slide-content
        width 100%
        height 100%

        p
          color white
          font-size 14px
          line-height  20px
          absolute left 110px top 260px
          width 465px
          overflow hidden
        a
          cursor pointer
          absolute left 110px top 420px
          text-decoration none
          width 170px
          height 50px
          border 1px solid $light-green
          border-radius 2px
          color $light-green
          font-size 16px
          text-align center
          line-height 50px
          &:hover
            background $light-green
            color white
        img
          absolute right bottom top
          margin auto

        h3
          color #43515e
          font-family Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
          font-size 24px
          font-weight 700
          text-transform uppercase
          letter-spacing 42px
          absolute left 110px top 175px

        &.black
          background-position 50px 30px

        &.white
          background-position center

          p
            color black

          a
            background black
