@import 'nib'

.videos-block
  color #fff
  height 280px
  > *
    float left
    width 50%
  .carousel
    height 100%
    margin-bottom 20px
    box-sizing border-box

    > .carousel-indicators
      display none

    > .carousel-inner
      > .item
        height 100%
        ol li
          float left
          display block
          width 50%
          img
            width 100%