@import 'nib'

.videos-block
  height 300px
  > *
    float left
    width 50%
  .carousel
    height 100%
    margin-bottom 20px
    box-sizing border-box

    > .carousel-indicators
      display none

    > .carousel-inner
      > .item
        height 100%
        ol li
          float left
          display block
          width 50%
          img
            width 100%

    > .carousel-control
      width 34px
      height 52px
      background #eee no-repeat center
      &.left
        border-radius 0 2px 2px 0
        background-image url('../images/left-arrow.png')
      &.right
        border-radius 2px 0 0 2px
        background-image url('../images/right-arrow.png')
      &:hover, &:focus
        background-color #fff