.videos-block
  color white
  height 280px
  margin-bottom $margin
  > *
    float left
  .youtube-player
    margin-right $margin
  .carousel
    height 100%
    width 500px
    box-sizing border-box

    > .carousel-indicators
      display none

    > .carousel-inner
      > .item
        height 100%
        &.active
          li:hover
            .tooltip
              opacity 1
        ol li
          float left
          display block
          width 50%
          position relative
          height 140px
          img
            width 250px
            height 140px
          .play
            margin auto
            absolute left top right bottom
            circle(30px)
            background $light-green url('../images/play-small.png') no-repeat 10px 7px
          .tooltip
            absolute top left right
            margin auto
            color white
            font-size 12px
            padding 2px
            text-align center
            width 160px
            background rgba($gray, 0.75)
            opacity 0
            transition opacity 0.2s ease-out