article.details.clearfix
  .top-image
    img(src='/images/logo-big.jpg')
  .right-image
    img(src='https://s3-eu-west-1.amazonaws.com/neoclassic/slides/slide1.jpg')
  .text.
    Друзья, я с радостью представляю вам мой сольный проект «NeoClassic» – "Новая Классика Дмитрия Янковского".

    «NeoClassic» – это мой взгляд на то, как должен развиваться современный мир музыки в России. «NeoClassic» соединяет в себе различные и, казалось бы, несовместимые направления в музыке: оперу, поп-музыку, рок, битбокс, рэп и некоторые другие. Я не хочу ограничивать публику и себя рамками одного стиля. Я люблю красивую музыку, и не важно, кем и когда она была написана. Как исполнитель я хочу донести до вас то, что вы, возможно, до этого не замечали или отвергали в музыке, но, услышав иное звучание, вы поймете, полюбите и откроете для себя новую музыку - мою «Новую Классику».

    Проект Дмитрия Янковского «NeoClassic» - удивительно гармоничный синтез классической, поп, рок музыки, других современных музыкальных направлений и академического вокала,  не оставляющий никого равнодушным! Вы станете свидетелем уникального эксперимента и окунетесь в атмосферу невероятно-завораживающего перформанса, так идеально соединяющего, казалось бы,  противоборствующие стили музыкального искусства.

    Подобный стиль исполнения - Classicalcrossover - уже завоевал признание за рубежом, войдя в список номинаций музыкальной премии Grammy, ежегодно присуждаемой Национальной академией звукозаписи США. В этом жанре работают такие звезды как : Андреа Бочелли, Алессандро Сафина, группа «Il divo» и другие. В нашей стране это направление еще только развивается и Дмитрий Янковский- один из первых исполнителей, работающих в этом стиле в России.

    Дмитрий Янковский - оперный и эстрадный певец, актер, солист театра «Геликон опера», исполнитель главных ролей в мюзиклах «MAMMA MIA!» и «Красавица и чудовище» компании «Stage Entertainment», солист музыкального проекта «Новые голоса», вместе с которым выступает на главных концертных площадках страны (Международный «Дом Музыки», Государственный концертный зал «Кремлёвский Дворец», Дом Правительства РФ (Белый Дом), «Президент отель». Управление делами Президента , «Crocus City Hall»).

    Дмитрий много гастролирует по России и за рубежом. Имеет награду «За высокое исполнительское мастерство и профессионализм» (2013) от Профсоюзного комитета Администрации Президента РФ. Выдвинут  кандидатом в «Книгу рекордов Гиннеса» как человек, исполняющий 5 главных ролей в одном спектакле Компанией «Stage Entertainment», обладатель премий СТД, лауреат международный конкурсов.

    Родной город Дмитрия – Санкт-Петербург. В 2008г. окончил СПбГАТИ по специальности актер музыкального театра, мастерская нар.арт.РФ А.В.Петрова. Женат, воспитывает двое детей.