.admin-bar(ng-controller='AdminBarCtrl')
  a.errors-link.hidden-link(href='', ng-click='showErrors = !showErrors')
  ul.list-style-none.errors.admin(ng-show='showErrors')
    li(ng-repeat='message in messages track by $index')
      div {{message}}
  a.login.hidden-link(href='/login', ng-hide='currentUser')
  .logged-in(ng-if='currentUser')
    span {{ currentUser.email }}
    a(href='/settings') сменить пароль
    a(href='', ng-click='logout()') выход