.admin-bar(ng-controller='AdminBarCtrl')
  a.errors-link.hidden-link(href='', ng-click='showErrors = !showErrors')
  ul.errors.background-white(ng-show='showErrors')
    li(ng-repeat='error in errors track by $index')
      div {{error}}
  a.login.hidden-link(href='/login', ng-hide='currentUser')
  .logged-in(ng-show='currentUser')
    span {{ currentUser.name }}
    a(href='/settings') сменить пароль
    a(href='', ng-click='logout()') выход