<!-- build:js({.tmp,app}) scripts/common.js -->
script(src='/scripts/controllers/admin/seo.js')
script(src='/bower_components/angular-i18n/angular-locale_ru-ru.js')
script(src='/scripts/controllers/page-is-busy.js')
script(src='/scripts/controllers/logging.js')
script(src='/scripts/controllers/common/logout.js')
script(src='/scripts/controllers/common/slides.js')
script(src='/scripts/controllers/videos.js')
script(src='/scripts/controllers/guestbook.js')
script(src='/scripts/services/auth.js')
script(src='/scripts/services/logging-svc.js')
script(src='/scripts/services/page-is-busy.js')
script(src='/scripts/services/seo.js')
script(src='/scripts/services/helpers.js')
script(src='/scripts/services/form.js')
script(src='/scripts/services/youtube-player-svc.js')
script(src='/scripts/directives/server-error.js')
script(src='/scripts/filters/utc.js')
<!-- endbuild -->