div.margin-bottom(ng-controller='EntryCtrl')
  article.details.clearfix()
    .text(ng-bind-html='trustedHtml()')
  form(name='editEntryForm', ng-submit='editEntryForm.$valid && update()', novalidate, ng-if='currentUser')
    .admin
      textarea(ng-model='entry.html', ui-tinymce='tinymceOptions', required)
      span.error(ng-show="!editEntryForm.html.$pristine && editEntryForm.html.$error.required").
        напиши здесь текст, а то не сохраню
      div
        label(for='urlSlug') Url
        input(type='text', name='urlSlug', ng-model='entry.urlSlug', required)
      div
        label(for='title') Title
        input(type='text', name='title', ng-model='entry.title', required)
      div
        label(for='description') Description
        textarea(name='description', ng-model='entry.description', required)
      div
        label(for='keywords') Keywords
        textarea(name='keywords', ng-model='entry.keywords', required)


      //only news and events
      div(ng-if='entry.type != "pages"')
        label(for='shortText') Короткое описание
        textarea(name='shortText', ng-model='entry.shortText', required)
      div(ng-if='entry.type != "pages"')
        label(for='datetime') Дата
        input(type='date', name='datetime', ng-model='entry.datetime', required)

      //only events
      div(ng-if='entry.type == "events"')
        label(for='thumbnailUrl') ссылка на маленькую картинку
        input(type='text', name='thumbnailUrl', ng-model='entry.thumbnailUrl', required)

      input(type='hidden', name='type', value='{{entry.type}}')
      input(type='submit', ng-disabled='!editEntryForm.$valid', value='сохранить изменения')