div.schedule(ng-controller='ScheduleCtrl')
  ol
    li(ng-repeat='item in schedule',  ng-class-even='"even"')
      a(ng-href='{{item.url}}') {{item.text}}
  a(href='/schedule') посмотреть все события

article.last-news(ng-controller='LastNewsCtrl')
  .content-block
    .article-icon
    .content
      h1 {{news.title}}
      .text {{news.text}}
  img(ng-src='{{news.imgUrl}}')

footer
  .contact-info
    .contact Мария Кожамкулова арт-директор
    .phone
      div Тел. СПб: +7(965) 015 95 84
      div Тел. МСК: +7(926) 091 72 12
    .email
      a(href='mailto:pr@neoclassic.pro') E-mail: pr@neoclassic.pro
      a(href='http://www.neoclassic.pro') Web-сайт www.neoclassic.pro
    a.facebook(href='https://www.facebook.com/NeoClassic.pro')
    a.vk(href='http://vk.com/yankovskiy_neoclassic')
  .qr-code