footer
  ul
    li
      a.facebook(href='https://www.facebook.com/NeoClassic.pro')
    li
      a.vk(href='http://vk.com/yankovskiy_neoclassic')
  .contact-info
    .phone
      div Тел. СПб: +7(965) 015 95 84
      div Тел. МСК: +7(926) 091 72 12
    .email
      div E-mail: pr@neoclassic.pro
      div Web-сайт: www.neoclassic.pro
  .qr-code