footer
  .contact-info
    .phone
      div Тел. СПб: +7(965) 015 95 84
      div Тел. МСК: +7(926) 091 72 12
    .email.
      С уважением, Мария Кожамкулова Арт - директор тел. МСК: 8-926-091-72-12 СПб: 8-965-015-95-84 E-mail: pr@neoclassic.pro
      //a(href='mailto:pr@neoclassic.pro') E-mail: pr@neoclassic.pro
      //a(href='http://www.neoclassic.pro') Web-сайт www.neoclassic.pro
    a.facebook(href='https://www.facebook.com/NeoClassic.pro')
    a.vk(href='http://vk.com/yankovskiy_neoclassic')
  .qr-code
