header(ng-controller='NavbarCtrl')
  a.logo(href='/')
  nav.clearfix
    ul
      li(ng-repeat='item in menu')
        a(ng-href='{{item.link}}', ng-class='{active: isActive(item.link)}') {{item.title}}
  form.search-form(name='search', ng-submit='search(form)', novalidate)
    input(name='query', type='text', placeholder='search', value='')
  .radio
    span.song Руки Вверх - Cover...
    a.play(href='', ng-click='playRadio()', ng-hide='radioPlaying')
    a.pause(href='', ng-click='pauseRadio()', ng-show='radioPlaying')
    //audio(id="radio-player", src="http://grooving.me:8017/stream")