div.margin-bottom(ng-controller='LatestInfoCtrl').clearfix
  .latest-news.margin-right
    ol
      li(ng-repeat='item in news',  ng-class-even='"even"')
        a(ng-href='{{item.url}}') {{item.title}}
        div {{item.text}}
    a(href='/news') посмотреть все новости
  include event