div.margin-bottom.clearfix(ng-controller='InfoBlockCtrl')
  article.latest-news.margin-right
    .news-icon
    .content
      header НОВОСТИ
      ol
        li(ng-repeat='item in news')
          .date {{item.createdAt | date:"dd MMMM y"}}
          .title {{item.title}}
          a(ng-href='/news/{{item.urlSlug}}') подробнее...
      //a.all-news(href='/news') ВСЕ НОВОСТИ
  include event