article.admin
  h1 Login
  form.form(name='loginForm', ng-submit='login(loginForm)', novalidate)
    label Email
    input(type='text', name='email', ng-model='user.email', autofocus)

    label Password
    input(type='password', name='password', ng-model='user.password')

    p(ng-show='loginForm.email.$error.required && loginForm.password.$error.required && submitted')
      | Please enter your email and password.
    p {{ errors.other }}

    button(type='submit') Sign in