form(name='newsForm', ng-submit='newsForm.$valid && submit()', novalidate)
  .admin
    textarea(ng-model='news.html', ui-tinymce='tinymceOptions', required)
    span.error(ng-show="!newsForm.html.$pristine && newsForm.html.$error.required").
      напиши здесь текст, а то не сохраню
    div
      label(for='slug') Url
      input(type='text', name='slug', ng-model='news.slug', required)
    div
      label(for='title') Заголовок
      input(type='text', name='title', ng-model='news.title', required)
    div
      label(for='shortText') Короткое описание
      textarea(name='shortText', ng-model='news.shortText', required)
    div
      label(for='datetime') Дата
      input(type='text', name='datetime', ng-model='news.datetime', required)

    input(type='submit', ng-disabled='!newsForm.$valid', value='сохранить изменения')