div.margin-bottom(ng-controller='PageCtrl')
  article.details.clearfix
    .top-image
      img(ng-src='{{page.topImageUrl}}')
    .right-image
      img(ng-src='{{page.rightImageUrl}}')
    .text {{page.text}}
  div.admin(ng-if='currentUser')
    form(name='editPageForm', ng-submit='editPageForm.$valid && update()', novalidate)
      textarea(name='text', ng-model='page.text', required, placeholder='текст страницы здесь')
      span.error(ng-show="!editPageForm.text.$pristine && editPageForm.text.$error.required").
        напиши здесь текст, а то не сохраню
      input(type='submit', ng-disabled='!editPageForm.$valid', value='сохранить изменения')