form(ng-controller='SeoCtrl', name='seoForm', ng-submit='seoForm.$valid && save()', novalidate, ng-if='currentUser')
  .admin
    div
      label(for='title') Title
      input(type='text', name='title', ng-model='seo.title', required)
    div
      label(for='description') Description
      textarea(name='description', ng-model='seo.description', required)
    div
      label(for='keywords') Keywords
      textarea(name='keywords', ng-model='seo.keywords', required)

    input(type='submit', ng-disabled='!seoForm.$valid', value='сохранить изменения')