article
  h1 Change Password

  form(name='form', ng-submit='changePassword(form)', novalidate)
    label New Password
    input(type='password', name='newPassword', ng-model='user.newPassword', ng-minlength='3', required='')
    p(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)')
      | Password must be at least 3 characters.

    p {{ message }}

    button(type='submit') Сохранить изменения