article.slider.margin-bottom(ng-controller='SliderCtrl')
  carousel(interval='8000')
    slide(ng-repeat='slide in slides', active='slide.active')
      img(ng-src='{{slide.image_url}}')
      p {{slide.text}}
      a(ng-href='{{slide.url}}') Подробнее
div.background-white(ng-if='currentUser')
  form
    label текст
    textarea()
    label файл
    input(type='file')
    label url
    input(type='text')
    input(type='submit')