article.slider(ng-controller='SliderCtrl')
  carousel(interval='5000')
    slide(ng-repeat='slide in slides', active='slide.active')
      img(ng-src='{{slide.src}}')
      p {{slide.text}}
      a(ng-href='{{slide.url}}') Подробнее
div.background-white(ng-show='currentUser')
  form
    label текст
    textarea()
    label файл
    input(type='file')
    label url
    input(type='text')
    input(type='submit')