//videosCarousel = $(".videos-carousel")
//_.each pidor, (item) ->
//  title = item.title
//img = $("<img/>").attr("src", item.thumbnail)
//videoLink = $("<a></a>").attr("href", "https://www.youtube.com/watch?v=" + item.id).data("video-id", item.id).append(img)
//videosCarousel.append videoLink
//videosCarousel.find("a").click ->
//  player.loadVideoById $(this).data("video-id")
//  false

div потерпи пока