div.margin-bottom(ng-controller='VideosCtrl')
  article.videos-block
    youtube-player.margin-right
    carousel(interval='-1')
      slide(ng-repeat='(i, fourVideos) in videosGroupedByFour', active='fourVideos.active')
        ol.list-style-none.clearfix
          li(ng-repeat='video in fourVideos')
            a(href='', ng-click='play(video.videoId)')
              img(ng-src='{{video.thumbnailUrl}}')
              .play
              .tooltip {{video.title}}