div(ng-controller='VideosBlockCtrl')
  article.videos-block
    youtube-player
    carousel(interval='-1')
      slide(ng-repeat='(i, fourVideos) in videosGroupedByFour', active='fourVideos.active')
        ol.clearfix
          li(ng-repeat='video in fourVideos', tooltip='{{video.title}}', tooltip-trigger='click')
            a(href='', ng-click='play(video.videoId)')
              img(ng-src='{{video.thumbnailUrl}}', width='240', height='135')
  div.background-white(ng-show='currentUser')
    ol
      li(ng-repeat='(i, fourVideos) in videosGroupedByFour') {{i}}
        ol
          li(ng-repeat='video in fourVideos') {{video.title}}
            a(href='', ng-click='delete(video)') X
            a(href='', ng-click='move(video, -1)', ng-hide='$parent.$first && $first') ^
            a(href='', ng-click='move(video, 1)', ng-hide='$parent.$last && $last') v
    form(name='newVideoForm', ng-submit='newVideoForm.$valid && add()', novalidate)
      input(name='videoUrl', type='text', ng-model='videoUrl', required, placehoder='скопируй ссылку с youtube сюда')
      span.error(ng-show="!newVideoForm.videoUrl.$pristine && newVideoForm.videoUrl.$error.required").
        ссылку то скопируй, так добавлять не буду
      input(type='submit', ng-disabled='!newVideoForm.$valid', value='добавить')