.admin-bar(ng-controller='LoggingCtrl')
  a.errors-link.hidden-link(href='', ng-click='showErrors = !showErrors')
  ul.list-style-none.errors.admin(ng-show='showErrors')
    li(ng-repeat='message in messages track by $index')
      div {{message}}
  a.login.hidden-link(href='/admin/login', ng-hide='currentUser', target='_self')
  .logged-in(ng-show='currentUser')
    a(href='/admin', target='_self') Панель администратора
    a(href='#', ng-click='logout()', ng-controller='LogoutCtrl') Выход