<!-- build:js({.tmp,app}) scripts/app.js -->
script(src='/scripts/google-analytics.js')
script(src='/scripts/yandex-metrika.js')
script(src='/scripts/app.js')
script(src='/scripts/controllers/app/navbar.js')
script(src='/scripts/controllers/app/news.js')
script(src='/scripts/controllers/app/events.js')
script(src='/scripts/controllers/app/posts.js')
script(src='/scripts/controllers/app/seo.js')
script(src='/scripts/controllers/exhibition.js')
script(src='/scripts/controllers/app/entry.js')
script(src='/scripts/controllers/logging.js')
script(src='/scripts/services/logging-svc.js')
script(src='/scripts/directives/youtube-player.js')
script(src='/scripts/filters/unsafe.js')
<!-- endbuild -->