.events.margin-bottom
  .calendar-icon
  .content
    header АФИША
    ol.list-style-none
      li(ng-repeat='event in events')
        span.date {{event.datetime | utc | date:"dd MMMM y в HH:mm"}}
        span.where {{event.shortText}}
        span.title(ng-if='!event.slug') {{event.title}}
        a.title(ng-href='/events/{{event.slug}}', ng-if='event.slug') {{event.title}}