footer.margin-bottom
  .copyright.margin-right
    div
      div Copyright © 2015
      div Дмитрий Янковский
    div
      div Программирование сайта:
      a(href='http://www.yankovsky.info/') Андрей Янковский
    .a2 Дизайн сайта:
      a(ng-href='http://a2laboratory.wordpress.com/') Лаборатория дизайна a
        sup 2
  .contact-info.margin-right#contact-info
    .social.clearfix
      a.facebook(href='https://www.facebook.com/NeoClassic.pro')
      a.vk(href='https://vk.com/neoclassic_classical_crossover')
    .phone
      div Тел. СПб: +7(965) 015 95 84
      div Тел. МСК: +7(926) 091 72 12
    .email
      a(href='mailto:pr@neoclassic.pro') E-mail: pr@neoclassic.pro
      a(href='http://www.neoclassic.pro') Web-сайт www.neoclassic.pro
    .contact
      div Мария Кожамкулова
      div Арт-директор проекта
  .qr-code