footer.margin-bottom
  .copyright.margin-right
    div.event-catalog
      <!-- EventCatalog.ru widget start -->
      <div class="evcInformer" id="eventcatalogWidget" data-widget-type="1" data-widget-hash="800252ed0d614044b1701e82bded729e" data-resident-id="10365-ar"><div class="evcWrapper"><div class="evcRatingWrapper"><a href="http://eventcatalog.ru/artist/kaver_gruppy/" title="Кавер-группы для мероприятий на EventCatalog.ru"><img id="evcWidgetImage" class="evcWidgetImage" src="http://eventcatalog.ru/images/widgets/widget-type-1.png" alt="Кавер-группы для мероприятий на EventCatalog.ru"></a><script src="http://eventcatalog.ru/js/widget.js" type="text/javascript"></script></div></div></div>
      <!-- EventCatalog.ru widget end -->
    div.party-info
      | Если Вас интересуют <a href="http://partyinfo.ru/artisty=muzykalnye_kollektivy">профессиональные Музыкальные коллективы</a>, загляните в каталог.
    div
      div Программирование сайта:
      a(href='http://www.yankovsky.info/') Андрей Янковский
    .a2 Дизайн сайта:
      a(ng-href='http://a2laboratory.wordpress.com/') Лаборатория дизайна a
        sup 2
  .contact-info.margin-right#contact-info
    .social.clearfix
      a.facebook(href='https://www.facebook.com/NeoClassic.pro')
      a.vk(href='https://vk.com/neoclassic_classical_crossover')
    .phone
      div Тел. СПб: +7(965) 015 95 84
      div Тел. МСК: +7(926) 091 72 12
    .email
      a(href='mailto:pr@neoclassic.pro') E-mail: pr@neoclassic.pro
      a(href='http://www.neoclassic.pro') Web-сайт www.neoclassic.pro
    .contact
      div Мария Кожамкулова
      div Арт-директор проекта
  .qr-code
