doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="neoclassicApp"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="neoclassicApp"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9" ng-app="neoclassicApp"> <![endif]
// [if gt IE 8]><!
html.no-js(ng-app="neoclassicApp")
  //<![endif]
  head(ng-controller='SeoCtrl')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href="/")
    title {{seo.title}}
    meta(name='description', content='{{seo.description}}')
    meta(name='keywords', content='{{seo.keywords}}')
    meta(name='fragment', content='!')
    meta(name="viewport", content="width=device-width")
    meta(name='yandex-verification', content='70674d9f35060f83')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    include partials/app/app-styles
  body
    //[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]
    //[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <![endif]
    // Add your site or application content here
    div.busy-indicator(ng-show='pageIsBusy', ng-controller='PageIsBusyCtrl')
    include partials/app/admin-bar
    include partials/app/navbar
    div(class="container" ng-view)
    include partials/app/seo
    include partials/app/info-block
    include partials/app/footer
    include partials/vendor-scripts
    include partials/app/app-scripts
    include partials/common-scripts