<!-- build:css({.tmp,app}) styles/admin.css -->
link(rel='stylesheet', href='/bower_components/bootstrap-css-only/css/bootstrap.css')
link(rel='stylesheet', href='/styles/admin-index.css')
<!-- endbuild -->