<!-- build:js({.tmp,app}) scripts/admin.js -->
script(src='/third-party/tinymce.min.js')
script(src='/third-party/langs/ru.js')
script(src='/bower_components/angular-ui-tinymce/src/tinymce.js')
script(src='/bower_components/moment/moment.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
script(src='/scripts/admin-app.js')
script(src='/scripts/controllers/admin/navbar.js')
script(src='/scripts/controllers/admin/settings.js')
script(src='/scripts/controllers/admin/videos.js')
script(src='/scripts/controllers/admin/login-form.js')
script(src='/scripts/controllers/admin/entries.js')
<!-- endbuild -->