<!-- build:css({.tmp,app}) styles/admin.css -->
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='/bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css')
link(rel='stylesheet', href='/styles/admin-index.css')
<!-- endbuild -->