.row.well
  .col-md-3
    ul.nav.nav-pills.nav-stacked
      li
        a(href='', ng-click='newEntry()')
          span.glyphicon.glyphicon-plus Создать
      li(ng-repeat='entry in entries', ng-class='{active: selectedEntry == entry}')
        a(href='', ng-click='selectEntry(entry)') {{entry.title}}
        button(ng-click='delete(entry)') DELETE
  .col-md-9
    form(name='entryForm', ng-submit='entryForm.$valid && submit()', novalidate)
      .admin
        div(ng-if='type == "events"')
          label(for='simplified') Упрощённый формат (без ссылки и отдельной страницы)
          input(type='checkbox', ng-model='selectedEntry.simplified', name='simplified')
        div(ng-if='!(type == "events" && selectedEntry.simplified)')
          textarea(ng-model='selectedEntry.html', ui-tinymce='tinymceOptions', required)
          span.error(ng-show="!entryForm.html.$pristine && entryForm.html.$error.required").
            напиши здесь текст, а то не сохраню
        div(ng-if='!(type == "events" && selectedEntry.simplified)')
          label(for='slug') slug (типа erarta или stas-mihailov)
          input(type='text', name='slug', ng-model='selectedEntry.slug', required)
        div
          label(for='title') Заголовок
          input(type='text', name='title', ng-model='selectedEntry.title', required)
          Символов в заголовке {{selectedEntry.title.length}}
        div(ng-if='type != "pages"')
          label(for='shortText') {{type == 'news' ? 'Короткое описание' : 'Где проходит (например "в Москве")'}}
          textarea(name='shortText', ng-model='selectedEntry.shortText')
          Символов в коротком описании {{selectedEntry.shortText.length}}
        div(ng-if='type != "pages"')
          label(for='datetime') Дата и время
          .dropdown
            a#dLabel.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
              .input-group
                .form-control {{selectedEntry.datetime | date:"dd MMMM y в HH:mm"}}
                span.input-group-addon
                  i.glyphicon.glyphicon-calendar
            ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
              datetimepicker(ng-model='selectedEntry.datetime', datetimepicker-config='{dropdownSelector: "#dLabel", weekStart: 1}', on-set-time='onTimeSet')
        div(ng-if='type == "news"')
          label(for='thumbnailUrl') ссылка на картинку
          input(type='text', name='thumbnailUrl', ng-model='selectedEntry.thumbnailUrl')

        input(type='submit', ng-disabled='!entryForm.$valid', value='сохранить изменения')