.page-header Редактирование блока видео

div(ng-controller='AdminVideosCtrl')
  form.well(name='newVideoForm', role='form', ng-submit='add()', novalidate)
    .form-group.has-feedback(ng-class='{"has-success": newVideoForm.videoUrl.$valid, "has-error": newVideoForm.videoUrl.$dirty && newVideoForm.videoUrl.$invalid}')
      label.control-label(for='videoUrl') Ссылка с Youtube
      input#videoUrl.form-control(name='videoUrl', type='videoUrl', placeholder='Введите ссылку с Youtube', autofocus, ng-model='newVideo.videoUrl', required, ng-model-options='{updateOn: "blur"}', server-error)
      span.glyphicon.form-control-feedback(ng-class='{"glyphicon-ok": newVideoForm.videoUrl.$valid, "glyphicon-warning-sign": newVideoForm.videoUrl.$dirty && newVideoForm.videoUrl.$invalid}')
      p.help-block(ng-show="newVideoForm.videoUrl.$dirty && newVideoForm.videoUrl.$error.required") Вставьте ссылку с Youtube
      p.help-block(ng-show="newVideoForm.videoUrl.$dirty && newVideoForm.videoUrl.$error.server") {{serverErrors.videoUrl}}
    button.btn.btn-default(type='submit', ng-disabled="newVideoForm.$invalid") Добавить

  div.well.well-sm.four-videos-block.clearfix(ng-repeat='(i, fourVideos) in videosGroupedByFour')
    .thumbnail.pull-left(ng-repeat='video in fourVideos')
      .btn-group.absolute
        button.btn.btn-default(ng-click='move(video, -1)', ng-if='!$parent.$first || !$first')
          span.glyphicon.glyphicon-arrow-left
        button.btn.btn-default(ng-click='move(video, 1)', ng-if='!$parent.$last || !$last')
          span.glyphicon.glyphicon-arrow-right
        button.btn.btn-default(ng-click='delete(video)')
          span.glyphicon.glyphicon-remove
      img(ng-src='{{video.thumbnailUrl}}')
      .caption {{video.title}}